<div class="background" *ngIf="netWorthService.displayNetWorth"
	(click)="netWorthService.toggleNetWorthDisplay()">
	<div id="net-worth">
		<table>
			<thead>
				<tr>
					<td></td>
					<th *ngFor="let player of gameState.players|values:'name'">
						{{ player.name }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="bottom-border">Net Worth</th>
					<td *ngFor="let player of gameState.players|values:'name'"
						id="value-{{ player.name }}-net-worth"
						class="text-cash bottom-border">
						{{ gameState.netWorth(player)['netWorth'] }}
					</td>
				</tr>
				<tr>
					<th>Cash</th>
					<td *ngFor="let player of gameState.players|values:'name'"
						id="value-{{ player.name }}-cash" class="text-cash">
						{{ player.cash }}
					</td>
				</tr>
				<tr *ngFor="let company of gameState.companies|values:'name'"
					class="fg-{{ company.text_color }}
						   bg-{{ company.background_color }}"
					id="row-{{ company.name }}">
					<th>{{ company.name }}</th>
					<td *ngFor="let player of gameState.players|values:'name'"
						id="value-{{ player.name }}-{{ company.name }}"
						class="text-cash">
						{{ gameState.netWorth(player)[company.uuid] || '0' }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
