<form (ngSubmit)="onSubmit($event)">
	<div class="row">
		<div class="tp-3">
			<label for="amount">Amount</label>
		</div>
		<div class="tp-9">
			<input type="number" name="amount" id="amount"
									  [(ngModel)]="amount">
		</div>
	</div>

	<div class="row">
		<div class="tp-3">
			<label>Transfer to</label>
		</div>
		<div class="tp-9">
			<label for="target-bank" class="transfer">
				<input type="radio" name="target" id="target-bank" value="bank"
					[(ngModel)]="target"> Bank
			</label>
			<label *ngFor='let company of gameState.companies | values'
					for="target-{{ company.name }}"
					class="transfer fg-{{ company.text_color }}
						bg-{{ company.background_color }}">
				<input type="radio" name="target" value="{{ company.uuid }}"
					 id="target-{{ company.name }}" [(ngModel)]="target">
				{{ company.name }}
			</label>
			<label *ngFor='let player of gameState.players | values'
				for="target-{{ player.name }}" class="transfer">
				<input type="radio" name="target" value="{{ player.uuid }}"
					id="target-{{ player.name }}" [(ngModel)]="target">
				{{ player.name }}
			</label>
		</div>
	</div>

	<div class="row">
		<div class="tp-6">
			<input type="submit" name="transfer" value="Transfer">
		</div>
	</div>
</form>
