<nav>
	<a routerLink="/game/{{ gameState.game.uuid }}"
		routerLinkActive="button-disabled"
		[routerLinkActiveOptions]="{ exact: true }"
		class="button" id="back">
		Return to game
	</a>
	<a routerLink="/game/{{ gameState.game.uuid }}/add-player"
		routerLinkActive="button-disabled"
		class="button" id="add_player">
		Add player
	</a>
	<a routerLink="/game/{{ gameState.game.uuid }}/add-company"
		routerLinkActive="button-disabled"
		class="button" id="add_company">Add Company</a>
	<a (click)="netWorthService.toggleNetWorthDisplay()" class="button"
		id="display-net-worth">Display net worth</a>
</nav>
