<div class="section" id="log">
	<h4>Log</h4>
	<button class="button" id="undo" (click)="gameState.undo()"
		[disabled]="!gameState.log[gameState.log.length - 1].is_undoable">
		Undo
	</button>
	<button (click)="gameState.redo()" class="button" id="redo">Redo</button>
	<div class="log-container"
		#logScroll [scrollTop]="logScroll.scrollHeight">
		<div class="entry {{ entryColorClass(entry) }}"
			*ngFor="let entry of gameState.log">
			[{{ entry.time | date:'d-M H:mm' }}] {{ entry.text }}
		</div>
	</div>
</div>
