{% extends 'interface/base.html' %}
{% load staticfiles %}

{% block title %}Add company{% endblock %}

{% block scripts %}
	<script src="{% static 'game.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1 id='title'>Add company</h1>
<a id='back' href='{% url 'ui:game' game.pk %}'>Return to game</a>

<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	{% include 'interface/snippets/color_select.html' with radio_name="background-color-select" target="id_background_color" %}
	{% include 'interface/snippets/color_select.html' with radio_name="text-color-select" target="id_text_color" %}
	<button type="submit">Add</button>
</form>
{% endblock content %}
