{% extends 'interface/base.html' %}
{% load staticfiles %}

{% block title %}Add company{% endblock %}

{% block content %}
<h1 id='title'>Add company</h1>
<a id='back' href='{% url 'ui:game' game.pk %}'>Return to game</a>

<div class="wrapper">
	<form method="post">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% if form.non_field_errors %}
			<div class="row">
				<div class="tp-12">{{ form.non_field_errors }}</div>
			</div>
		{% endif %}
		{% for field in form.visible_fields %}
			{% if field.errors %}
				<div class="row">
					<div class="tp-12">{{ field.errors }}</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="tp-3">{{ field.label_tag }}</div>
				<div class="tp-9">{{ field }}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="tp-6">Background color:</div>
			<div class="tp-6">Text color:</div>
		</div>
		<div class="row">
			<div class="tp-6">
				{% include 'interface/snippets/color_select.html' with radio_name="background-color-select" target="id_background_color" %}
			</div>
			<div class="tp-6">
				{% include 'interface/snippets/color_select.html' with radio_name="text-color-select" target="id_text_color" %}
			</div>
		</div>
		<div class="row">
			<div class="indent-tp-1 tp-9">
				<button type="submit">Add</button>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
