{% extends 'interface/base.html' %}

{% block title %}18xx Accountant{% endblock %}

{% block content %}
<div class="wrapper">
	<div id='menu' class="row">
		<div class="indent-tp-1"></div>
		<div class="tp-3">
			<a href="{% url 'ui:add_player' uuid=game.pk %}" name="add_player">
				Add player
			</a>
			<a href="{% url 'ui:add_company' uuid=game.pk %}"
					name="add_company">
				Add company
			</a>
		</div>
	</div>

	<div class="row nested">
		<div class="tp-9">
			<div class="row">
				<h2>Players</h2>
			</div>
			<div class="row">
				<div class="tp-2">Name</div>
				<div class="tp-1">Cash</div>
			</div>
			<div id="players">
				{% for player in game.players.all %}
					<div class="player">
						<div class="row">
							<div class="tp-2 name">{{ player.name }}</div>
							<div class="tp-1 cash">{{ player.cash }}</div>
						</div>
						<div class="row">
							<div class="tp-12 detail"></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="tp-3">
			<div class="row">
				<h2>Bank</h2>
			</div>
			<div id='bank'>
				<div class="row">
					<div class="tp-6">
						Cash
					</div>
					<div id='cash' class="tp-6">
						{{ game.cash }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h2>Companies</h2>
	</div>
	<div class="row">
		<div class="tp-2">Name</div>
		<div class="tp-1">Cash</div>
		<div class="tp-1">Shares</div>
		<div class="tp-1">IPO</div>
	</div>
	<div id="companies">
		{% for company in game.companies.all %}
			<div class="row company
					bg-{{ company.background_color }}
					fg-{{ company.text_color }}">
				<div class="tp-2 name">{{ company.name }}</div>
				<div class="tp-1 cash">{{ company.cash }}</div>
				<div class="tp-1 share_count">{{ company.share_count }}</div>
				<div class="tp-1 ipo">{{ company.ipo_shares }}</div>
				<div class="tp-1 bank">{{ company.bank_shares }}</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
