.centered {
	text-align: center;
}

.fg-black { color: #000; }
.bg-black { background-color: #000; }
.fg-white { color: #fff; }
.bg-white { background-color: #fff; }
.fg-red-50 { color: #FFEBEE; }
.bg-red-50 { background-color: #FFEBEE; }
.fg-red-100 { color: #FFCDD2; }
.bg-red-100 { background-color: #FFCDD2; }
.fg-red-200 { color: #EF9A9A; }
.bg-red-200 { background-color: #EF9A9A; }
.fg-red-300 { color: #E57373; }
.bg-red-300 { background-color: #E57373; }
.fg-red-400 { color: #EF5350; }
.bg-red-400 { background-color: #EF5350; }
.fg-red-500 { color: #F44336; }
.bg-red-500 { background-color: #F44336; }
.fg-red-600 { color: #E53935; }
.bg-red-600 { background-color: #E53935; }
.fg-red-700 { color: #D32F2F; }
.bg-red-700 { background-color: #D32F2F; }
.fg-red-800 { color: #C62828; }
.bg-red-800 { background-color: #C62828; }
.fg-red-900 { color: #B71C1C; }
.bg-red-900 { background-color: #B71C1C; }
.fg-pink-50 { color: #FCE4EC; }
.bg-pink-50 { background-color: #FCE4EC; }
.fg-pink-100 { color: #F8BBD0; }
.bg-pink-100 { background-color: #F8BBD0; }
.fg-pink-200 { color: #F48FB1; }
.bg-pink-200 { background-color: #F48FB1; }
.fg-pink-300 { color: #F06292; }
.bg-pink-300 { background-color: #F06292; }
.fg-pink-400 { color: #EC407A; }
.bg-pink-400 { background-color: #EC407A; }
.fg-pink-500 { color: #E91E63; }
.bg-pink-500 { background-color: #E91E63; }
.fg-pink-600 { color: #D81B60; }
.bg-pink-600 { background-color: #D81B60; }
.fg-pink-700 { color: #C2185B; }
.bg-pink-700 { background-color: #C2185B; }
.fg-pink-800 { color: #AD1457; }
.bg-pink-800 { background-color: #AD1457; }
.fg-pink-900 { color: #880E4F; }
.bg-pink-900 { background-color: #880E4F; }
.fg-purple-50 { color: #F3E5F5; }
.bg-purple-50 { background-color: #F3E5F5; }
.fg-purple-100 { color: #E1BEE7; }
.bg-purple-100 { background-color: #E1BEE7; }
.fg-purple-200 { color: #CE93D8; }
.bg-purple-200 { background-color: #CE93D8; }
.fg-purple-300 { color: #BA68C8; }
.bg-purple-300 { background-color: #BA68C8; }
.fg-purple-400 { color: #AB47BC; }
.bg-purple-400 { background-color: #AB47BC; }
.fg-purple-500 { color: #9C27B0; }
.bg-purple-500 { background-color: #9C27B0; }
.fg-purple-600 { color: #8E24AA; }
.bg-purple-600 { background-color: #8E24AA; }
.fg-purple-700 { color: #7B1FA2; }
.bg-purple-700 { background-color: #7B1FA2; }
.fg-purple-800 { color: #6A1B9A; }
.bg-purple-800 { background-color: #6A1B9A; }
.fg-purple-900 { color: #4A148C; }
.bg-purple-900 { background-color: #4A148C; }
.fg-deep-purple-50 { color: #EDE7F6; }
.bg-deep-purple-50 { background-color: #EDE7F6; }
.fg-deep-purple-100 { color: #D1C4E9; }
.bg-deep-purple-100 { background-color: #D1C4E9; }
.fg-deep-purple-200 { color: #B39DDB; }
.bg-deep-purple-200 { background-color: #B39DDB; }
.fg-deep-purple-300 { color: #9575CD; }
.bg-deep-purple-300 { background-color: #9575CD; }
.fg-deep-purple-400 { color: #7E57C2; }
.bg-deep-purple-400 { background-color: #7E57C2; }
.fg-deep-purple-500 { color: #673AB7; }
.bg-deep-purple-500 { background-color: #673AB7; }
.fg-deep-purple-600 { color: #5E35B1; }
.bg-deep-purple-600 { background-color: #5E35B1; }
.fg-deep-purple-700 { color: #512DA8; }
.bg-deep-purple-700 { background-color: #512DA8; }
.fg-deep-purple-800 { color: #4527A0; }
.bg-deep-purple-800 { background-color: #4527A0; }
.fg-deep-purple-900 { color: #311B92; }
.bg-deep-purple-900 { background-color: #311B92; }
.fg-indigo-50 { color: #E8EAF6; }
.bg-indigo-50 { background-color: #E8EAF6; }
.fg-indigo-100 { color: #C5CAE9; }
.bg-indigo-100 { background-color: #C5CAE9; }
.fg-indigo-200 { color: #9FA8DA; }
.bg-indigo-200 { background-color: #9FA8DA; }
.fg-indigo-300 { color: #7986CB; }
.bg-indigo-300 { background-color: #7986CB; }
.fg-indigo-400 { color: #5C6BC0; }
.bg-indigo-400 { background-color: #5C6BC0; }
.fg-indigo-500 { color: #3F51B5; }
.bg-indigo-500 { background-color: #3F51B5; }
.fg-indigo-600 { color: #3949AB; }
.bg-indigo-600 { background-color: #3949AB; }
.fg-indigo-700 { color: #303F9F; }
.bg-indigo-700 { background-color: #303F9F; }
.fg-indigo-800 { color: #283593; }
.bg-indigo-800 { background-color: #283593; }
.fg-indigo-900 { color: #1A237E; }
.bg-indigo-900 { background-color: #1A237E; }
.fg-blue-50 { color: #E3F2FD; }
.bg-blue-50 { background-color: #E3F2FD; }
.fg-blue-100 { color: #BBDEFB; }
.bg-blue-100 { background-color: #BBDEFB; }
.fg-blue-200 { color: #90CAF9; }
.bg-blue-200 { background-color: #90CAF9; }
.fg-blue-300 { color: #64B5F6; }
.bg-blue-300 { background-color: #64B5F6; }
.fg-blue-400 { color: #42A5F5; }
.bg-blue-400 { background-color: #42A5F5; }
.fg-blue-500 { color: #2196F3; }
.bg-blue-500 { background-color: #2196F3; }
.fg-blue-600 { color: #1E88E5; }
.bg-blue-600 { background-color: #1E88E5; }
.fg-blue-700 { color: #1976D2; }
.bg-blue-700 { background-color: #1976D2; }
.fg-blue-800 { color: #1565C0; }
.bg-blue-800 { background-color: #1565C0; }
.fg-blue-900 { color: #0D47A1; }
.bg-blue-900 { background-color: #0D47A1; }
.fg-light-blue-50 { color: #E1F5FE; }
.bg-light-blue-50 { background-color: #E1F5FE; }
.fg-light-blue-100 { color: #B3E5FC; }
.bg-light-blue-100 { background-color: #B3E5FC; }
.fg-light-blue-200 { color: #81D4FA; }
.bg-light-blue-200 { background-color: #81D4FA; }
.fg-light-blue-300 { color: #4FC3F7; }
.bg-light-blue-300 { background-color: #4FC3F7; }
.fg-light-blue-400 { color: #29B6F6; }
.bg-light-blue-400 { background-color: #29B6F6; }
.fg-light-blue-500 { color: #03A9F4; }
.bg-light-blue-500 { background-color: #03A9F4; }
.fg-light-blue-600 { color: #039BE5; }
.bg-light-blue-600 { background-color: #039BE5; }
.fg-light-blue-700 { color: #0288D1; }
.bg-light-blue-700 { background-color: #0288D1; }
.fg-light-blue-800 { color: #0277BD; }
.bg-light-blue-800 { background-color: #0277BD; }
.fg-light-blue-900 { color: #01579B; }
.bg-light-blue-900 { background-color: #01579B; }
.fg-cyan-50 { color: #E0F7FA; }
.bg-cyan-50 { background-color: #E0F7FA; }
.fg-cyan-100 { color: #B2EBF2; }
.bg-cyan-100 { background-color: #B2EBF2; }
.fg-cyan-200 { color: #80DEEA; }
.bg-cyan-200 { background-color: #80DEEA; }
.fg-cyan-300 { color: #4DD0E1; }
.bg-cyan-300 { background-color: #4DD0E1; }
.fg-cyan-400 { color: #26C6DA; }
.bg-cyan-400 { background-color: #26C6DA; }
.fg-cyan-500 { color: #00BCD4; }
.bg-cyan-500 { background-color: #00BCD4; }
.fg-cyan-600 { color: #00ACC1; }
.bg-cyan-600 { background-color: #00ACC1; }
.fg-cyan-700 { color: #0097A7; }
.bg-cyan-700 { background-color: #0097A7; }
.fg-cyan-800 { color: #00838F; }
.bg-cyan-800 { background-color: #00838F; }
.fg-cyan-900 { color: #006064; }
.bg-cyan-900 { background-color: #006064; }
.fg-teal-50 { color: #E0F2F1; }
.bg-teal-50 { background-color: #E0F2F1; }
.fg-teal-100 { color: #B2DFDB; }
.bg-teal-100 { background-color: #B2DFDB; }
.fg-teal-200 { color: #80CBC4; }
.bg-teal-200 { background-color: #80CBC4; }
.fg-teal-300 { color: #4DB6AC; }
.bg-teal-300 { background-color: #4DB6AC; }
.fg-teal-400 { color: #26A69A; }
.bg-teal-400 { background-color: #26A69A; }
.fg-teal-500 { color: #009688; }
.bg-teal-500 { background-color: #009688; }
.fg-teal-600 { color: #00897B; }
.bg-teal-600 { background-color: #00897B; }
.fg-teal-700 { color: #00796B; }
.bg-teal-700 { background-color: #00796B; }
.fg-teal-800 { color: #00695C; }
.bg-teal-800 { background-color: #00695C; }
.fg-teal-900 { color: #004D40; }
.bg-teal-900 { background-color: #004D40; }
.fg-green-50 { color: #E8F5E9; }
.bg-green-50 { background-color: #E8F5E9; }
.fg-green-100 { color: #C8E6C9; }
.bg-green-100 { background-color: #C8E6C9; }
.fg-green-200 { color: #A5D6A7; }
.bg-green-200 { background-color: #A5D6A7; }
.fg-green-300 { color: #81C784; }
.bg-green-300 { background-color: #81C784; }
.fg-green-400 { color: #66BB6A; }
.bg-green-400 { background-color: #66BB6A; }
.fg-green-500 { color: #4CAF50; }
.bg-green-500 { background-color: #4CAF50; }
.fg-green-600 { color: #43A047; }
.bg-green-600 { background-color: #43A047; }
.fg-green-700 { color: #388E3C; }
.bg-green-700 { background-color: #388E3C; }
.fg-green-800 { color: #2E7D32; }
.bg-green-800 { background-color: #2E7D32; }
.fg-green-900 { color: #1B5E20; }
.bg-green-900 { background-color: #1B5E20; }
.fg-light-green-50 { color: #F1F8E9; }
.bg-light-green-50 { background-color: #F1F8E9; }
.fg-light-green-100 { color: #DCEDC8; }
.bg-light-green-100 { background-color: #DCEDC8; }
.fg-light-green-200 { color: #C5E1A5; }
.bg-light-green-200 { background-color: #C5E1A5; }
.fg-light-green-300 { color: #AED581; }
.bg-light-green-300 { background-color: #AED581; }
.fg-light-green-400 { color: #9CCC65; }
.bg-light-green-400 { background-color: #9CCC65; }
.fg-light-green-500 { color: #8BC34A; }
.bg-light-green-500 { background-color: #8BC34A; }
.fg-light-green-600 { color: #7CB342; }
.bg-light-green-600 { background-color: #7CB342; }
.fg-light-green-700 { color: #689F38; }
.bg-light-green-700 { background-color: #689F38; }
.fg-light-green-800 { color: #558B2F; }
.bg-light-green-800 { background-color: #558B2F; }
.fg-light-green-900 { color: #33691E; }
.bg-light-green-900 { background-color: #33691E; }
.fg-lime-50 { color: #F9FBE7; }
.bg-lime-50 { background-color: #F9FBE7; }
.fg-lime-100 { color: #F0F4C3; }
.bg-lime-100 { background-color: #F0F4C3; }
.fg-lime-200 { color: #E6EE9C; }
.bg-lime-200 { background-color: #E6EE9C; }
.fg-lime-300 { color: #DCE775; }
.bg-lime-300 { background-color: #DCE775; }
.fg-lime-400 { color: #D4E157; }
.bg-lime-400 { background-color: #D4E157; }
.fg-lime-500 { color: #CDDC39; }
.bg-lime-500 { background-color: #CDDC39; }
.fg-lime-600 { color: #C0CA33; }
.bg-lime-600 { background-color: #C0CA33; }
.fg-lime-700 { color: #AFB42B; }
.bg-lime-700 { background-color: #AFB42B; }
.fg-lime-800 { color: #9E9D24; }
.bg-lime-800 { background-color: #9E9D24; }
.fg-lime-900 { color: #827717; }
.bg-lime-900 { background-color: #827717; }
.fg-yellow-50 { color: #FFFDE7; }
.bg-yellow-50 { background-color: #FFFDE7; }
.fg-yellow-100 { color: #FFF9C4; }
.bg-yellow-100 { background-color: #FFF9C4; }
.fg-yellow-200 { color: #FFF59D; }
.bg-yellow-200 { background-color: #FFF59D; }
.fg-yellow-300 { color: #FFF176; }
.bg-yellow-300 { background-color: #FFF176; }
.fg-yellow-400 { color: #FFEE58; }
.bg-yellow-400 { background-color: #FFEE58; }
.fg-yellow-500 { color: #FFEB3B; }
.bg-yellow-500 { background-color: #FFEB3B; }
.fg-yellow-600 { color: #FDD835; }
.bg-yellow-600 { background-color: #FDD835; }
.fg-yellow-700 { color: #FBC02D; }
.bg-yellow-700 { background-color: #FBC02D; }
.fg-yellow-800 { color: #F9A825; }
.bg-yellow-800 { background-color: #F9A825; }
.fg-yellow-900 { color: #F57F17; }
.bg-yellow-900 { background-color: #F57F17; }
.fg-amber-50 { color: #FFF8E1; }
.bg-amber-50 { background-color: #FFF8E1; }
.fg-amber-100 { color: #FFECB3; }
.bg-amber-100 { background-color: #FFECB3; }
.fg-amber-200 { color: #FFE082; }
.bg-amber-200 { background-color: #FFE082; }
.fg-amber-300 { color: #FFD54F; }
.bg-amber-300 { background-color: #FFD54F; }
.fg-amber-400 { color: #FFCA28; }
.bg-amber-400 { background-color: #FFCA28; }
.fg-amber-500 { color: #FFC107; }
.bg-amber-500 { background-color: #FFC107; }
.fg-amber-600 { color: #FFB300; }
.bg-amber-600 { background-color: #FFB300; }
.fg-amber-700 { color: #FFA000; }
.bg-amber-700 { background-color: #FFA000; }
.fg-amber-800 { color: #FF8F00; }
.bg-amber-800 { background-color: #FF8F00; }
.fg-amber-900 { color: #FF6F00; }
.bg-amber-900 { background-color: #FF6F00; }
.fg-orange-50 { color: #FFF3E0; }
.bg-orange-50 { background-color: #FFF3E0; }
.fg-orange-100 { color: #FFE0B2; }
.bg-orange-100 { background-color: #FFE0B2; }
.fg-orange-200 { color: #FFCC80; }
.bg-orange-200 { background-color: #FFCC80; }
.fg-orange-300 { color: #FFB74D; }
.bg-orange-300 { background-color: #FFB74D; }
.fg-orange-400 { color: #FFA726; }
.bg-orange-400 { background-color: #FFA726; }
.fg-orange-500 { color: #FF9800; }
.bg-orange-500 { background-color: #FF9800; }
.fg-orange-600 { color: #FB8C00; }
.bg-orange-600 { background-color: #FB8C00; }
.fg-orange-700 { color: #F57C00; }
.bg-orange-700 { background-color: #F57C00; }
.fg-orange-800 { color: #EF6C00; }
.bg-orange-800 { background-color: #EF6C00; }
.fg-orange-900 { color: #E65100; }
.bg-orange-900 { background-color: #E65100; }
.fg-deep-orange-50 { color: #FBE9E7; }
.bg-deep-orange-50 { background-color: #FBE9E7; }
.fg-deep-orange-100 { color: #FFCCBC; }
.bg-deep-orange-100 { background-color: #FFCCBC; }
.fg-deep-orange-200 { color: #FFAB91; }
.bg-deep-orange-200 { background-color: #FFAB91; }
.fg-deep-orange-300 { color: #FF8A65; }
.bg-deep-orange-300 { background-color: #FF8A65; }
.fg-deep-orange-400 { color: #FF7043; }
.bg-deep-orange-400 { background-color: #FF7043; }
.fg-deep-orange-500 { color: #FF5722; }
.bg-deep-orange-500 { background-color: #FF5722; }
.fg-deep-orange-600 { color: #F4511E; }
.bg-deep-orange-600 { background-color: #F4511E; }
.fg-deep-orange-700 { color: #E64A19; }
.bg-deep-orange-700 { background-color: #E64A19; }
.fg-deep-orange-800 { color: #D84315; }
.bg-deep-orange-800 { background-color: #D84315; }
.fg-deep-orange-900 { color: #BF360C; }
.bg-deep-orange-900 { background-color: #BF360C; }
.fg-brown-50 { color: #EFEBE9; }
.bg-brown-50 { background-color: #EFEBE9; }
.fg-brown-100 { color: #D7CCC8; }
.bg-brown-100 { background-color: #D7CCC8; }
.fg-brown-200 { color: #BCAAA4; }
.bg-brown-200 { background-color: #BCAAA4; }
.fg-brown-300 { color: #A1887F; }
.bg-brown-300 { background-color: #A1887F; }
.fg-brown-400 { color: #8D6E63; }
.bg-brown-400 { background-color: #8D6E63; }
.fg-brown-500 { color: #795548; }
.bg-brown-500 { background-color: #795548; }
.fg-brown-600 { color: #6D4C41; }
.bg-brown-600 { background-color: #6D4C41; }
.fg-brown-700 { color: #5D4037; }
.bg-brown-700 { background-color: #5D4037; }
.fg-brown-800 { color: #4E342E; }
.bg-brown-800 { background-color: #4E342E; }
.fg-brown-900 { color: #3E2723; }
.bg-brown-900 { background-color: #3E2723; }
.fg-grey-50 { color: #FAFAFA; }
.bg-grey-50 { background-color: #FAFAFA; }
.fg-grey-100 { color: #F5F5F5; }
.bg-grey-100 { background-color: #F5F5F5; }
.fg-grey-200 { color: #EEEEEE; }
.bg-grey-200 { background-color: #EEEEEE; }
.fg-grey-300 { color: #E0E0E0; }
.bg-grey-300 { background-color: #E0E0E0; }
.fg-grey-400 { color: #BDBDBD; }
.bg-grey-400 { background-color: #BDBDBD; }
.fg-grey-500 { color: #9E9E9E; }
.bg-grey-500 { background-color: #9E9E9E; }
.fg-grey-600 { color: #757575; }
.bg-grey-600 { background-color: #757575; }
.fg-grey-700 { color: #616161; }
.bg-grey-700 { background-color: #616161; }
.fg-grey-800 { color: #424242; }
.bg-grey-800 { background-color: #424242; }
.fg-grey-900 { color: #212121; }
.bg-grey-900 { background-color: #212121; }
.fg-blue-grey-50 { color: #ECEFF1; }
.bg-blue-grey-50 { background-color: #ECEFF1; }
.fg-blue-grey-100 { color: #CFD8DC; }
.bg-blue-grey-100 { background-color: #CFD8DC; }
.fg-blue-grey-200 { color: #B0BEC5; }
.bg-blue-grey-200 { background-color: #B0BEC5; }
.fg-blue-grey-300 { color: #90A4AE; }
.bg-blue-grey-300 { background-color: #90A4AE; }
.fg-blue-grey-400 { color: #78909C; }
.bg-blue-grey-400 { background-color: #78909C; }
.fg-blue-grey-500 { color: #607D8B; }
.bg-blue-grey-500 { background-color: #607D8B; }
.fg-blue-grey-600 { color: #546E7A; }
.bg-blue-grey-600 { background-color: #546E7A; }
.fg-blue-grey-700 { color: #455A64; }
.bg-blue-grey-700 { background-color: #455A64; }
.fg-blue-grey-800 { color: #37474F; }
.bg-blue-grey-800 { background-color: #37474F; }
.fg-blue-grey-900 { color: #263238; }
.bg-blue-grey-900 { background-color: #263238; }
.fg-blue-grey-black { color: #: #000; }
.bg-blue-grey-black { background-color: #: #000; }
.fg-blue-grey-white { color: #: #FFF; }
.bg-blue-grey-white { background-color: #: #FFF; }
