<div class="section">
	<div class="row">
		<div class="tp-12">
			<h4>Companies</h4>
		</div>
	</div>

	<div class="row">
		<div class="tp-2">Name</div>
		<div class="tp-1">Cash</div>
		<div class="tp-1">Value</div>
		<div class="tp-1">#Shares</div>
		<div class="tp-1">In IPO</div>
		<div class="tp-1">In Bank</div>
		<div class="tp-5">Shares</div>
	</div>
	<hr />

	<div *ngFor="let company of gameState.companies | values:'name'"
	     class="company">
		<div class="row summary fg-{{ company.text_color }}
					bg-{{ company.background_color }}"
			 (click)="selected.selectCompany(company)">
			<div class="tp-2 name">{{ company.name }}</div>
			<div class="tp-1 cash text-cash">{{ company.cash }}</div>
			<div class="tp-1 value">
				<input type="number" [(ngModel)]="company.value"
					   (click)="$event.stopPropagation()">
			</div>
			<div class="tp-1 share_count">{{ company.share_count }}</div>
			<div class="tp-1 ipo">{{ company.ipo_shares }}</div>
			<div class="tp-1 bank">{{ company.bank_shares }}</div>
			<div class="tp-5">
				<div *ngFor="let share of gameState.shareInfo(company)"
					 class="share fg-{{ share.text_color }}
							bg-{{ share.background_color }}">
					{{ share.name }} {{ share.fraction * 100 }}%
				</div>
			</div>
		</div>
		<div class="row detail"
			 *ngIf="selected.selectedCompany===company.uuid">
			<div class="tp-12">
				<transfer-form [source]="company"></transfer-form>
				<hr />
			</div>
			<div class="tp-12">
				<share-form [buyer]="company"></share-form>
				<hr />
			</div>
			<div class="tp-12">
				<operate-form [company]="company"></operate-form>
			</div>
		</div>
	</div>
</div>
