DJANGO_SETTINGS_MODULE="accountant.settings.production"
ACCOUNTANT_DB_NAME="{{ ansible_local.variables.database.name }}"
ACCOUNTANT_DB_USER="{{ ansible_local.variables.database.user }}"
ACCOUNTANT_DB_PASSWORD="{{ ansible_local.variables.database.password }}"
ACCOUNTANT_DOMAIN="{{ ansible_local.variables.django.domain }}"
ACCOUNTANT_SECRET_KEY="{{ ansible_local.variables.django.secret_key }}"
