<form (ngSubmit)="onSubmit()" #playerForm="ngForm">
	<div class="row">
		<div class="column column-33">
			<label for="name">Player name</label>
		</div>
		<div class="column column-66">
			<input name="name" id="name" [(ngModel)]="model.name">
		</div>
	</div>
	<div class="row">
		<div class="column column-33">
			<label for="cash">Starting cash</label>
		</div>
		<div class="column">
			<input type="number" name="cash" id="cash"
				[(ngModel)]="model.cash">
		</div>
	</div>
	<div class="row">
		<div class="column column-33">
			<button type="submit">Add player</button>
		</div>
	</div>
</form>
