<div *ngIf="game">
	<menu [game_id]="game.uuid"></menu>
	<div class="row nested">
		<div class="dt-9" id="players">
			<div class="row">
				<div class="dt-12">
					<h4>Players</h4>
				</div>
			</div>
			<div *ngFor="let player of players" class="player">
				<div class="row" (click)="selectPlayer(player)">
					<div class="dt-2 name">{{ player.name }}</div>
					<div class="dt-1 cash">{{ player.cash }}</div>
				</div>
				<div class="row detail" *ngIf="selectedPlayer===player"></div>
			</div>
		</div>
		<div class="dt-3">
			<bank-detail [game]="game"></bank-detail>
		</div>
	</div>

	<div class="row">
		<div class="dt-12">
			<h4>Companies</h4>
		</div>
	</div>
	<div *ngFor="let company of companies" class="company">
		<div class="row bg-{{company.background_color}}
		fg-{{company.text_color}}" (click)="selectCompany(company)">
			<div class="dt-2 name">{{ company.name }}</div>
			<div class="dt-1 cash">{{ company.cash }}</div>
			<div class="dt-1 share_count">
				{{ company.share_count }}
			</div>
			<div class="dt-1 ipo">{{ company.ipo_shares }}</div>
			<div class="dt-1 bank">{{ company.bank_shares }}</div>
		</div>
		<div class="row detail" *ngIf="selectedCompany===company"></div>
	</div>
</div>

<div *ngIf="!game">
	Loading game...
</div>
