<div *ngIf="game">
	<menu [game_id]="game.uuid"></menu>
	<div class="row nested">
		<div class="tp-9" id="players"
			*ngIf="game.players.length==players.length">
			<div class="section">
				<div class="row">
					<div class="tp-12">
						<h4>Players</h4>
					</div>
				</div>
				<div class="row">
					<div class="tp-2">Name</div>
					<div class="tp-1">Cash</div>
				</div>
				<hr />
				<div *ngFor="let player of players" class="player">
					<div class="row" (click)="selectPlayer(player)">
						<div class="tp-2 name">{{ player.name }}</div>
						<div class="tp-1 cash text-right">
							{{ player.cash }}
						</div>
					</div>
					<div class="row detail" *ngIf="selectedPlayer===player">
					</div>
				</div>
			</div>
		</div>
		<div class="tp-9" *ngIf="game.players.length!=players.length">
			<h4>Loading players...</h4>
		</div>

		<div class="tp-3">
			<bank-detail [game]="game"></bank-detail>
		</div>
	</div>

	<div class="section" *ngIf="game.companies.length==companies.length">
		<div class="row">
			<div class="tp-12">
				<h4>Companies</h4>
			</div>
		</div>
		<div class="row">
			<div class="tp-2">Name</div>
			<div class="tp-1">Cash</div>
			<div class="tp-1"># Shares</div>
			<div class="tp-1">In IPO</div>
			<div class="tp-1">In Bank</div>
		</div>
		<hr />
		<div *ngFor="let company of companies" class="company">
			<div class="row bg-{{company.background_color}}
			fg-{{company.text_color}}" (click)="selectCompany(company)">
				<div class="tp-2 name">{{ company.name }}</div>
				<div class="tp-1 cash text-right">{{ company.cash }}</div>
				<div class="tp-1 share_count">
					{{ company.share_count }}
				</div>
				<div class="tp-1 ipo">{{ company.ipo_shares }}</div>
				<div class="tp-1 bank">{{ company.bank_shares }}</div>
			</div>
			<div class="row detail" *ngIf="selectedCompany===company"></div>
		</div>
	</div>
	<div class="section" *ngIf="game.companies.length!=companies.length">
		<h4>Loading companies...</h4>
	</div>
</div>

<div *ngIf="!game">
	Loading game...
</div>
