<div *ngIf="game">
	<menu [game_id]="game.uuid"></menu>
	<div class="row">
		<div class="column column-75" id="players">
			<div class="row">
				<div class="column">
					<h2>Players</h2>
				</div>
			</div>
			<div *ngFor="let player of players" class="row player">
				<div class="column column-20 name">{{ player.name }}</div>
				<div class="column column-10 cash">{{ player.cash }}</div>
			</div>
		</div>
		<div class="column column-25">
			<bank-detail [game]="game"></bank-detail>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<h2>Companies</h2>
		</div>
	</div>
	<div *ngFor="let company of companies"
		class="company">
		<div class="row bg-{{company.background_color}}
				fg-{{company.text_color}}">
			<div class="column column-20 name">{{ company.name }}</div>
			<div class="column column-10 cash">{{ company.cash }}</div>
			<div class="column column-10 share_count">
				{{ company.share_count }}
			</div>
			<div class="column column-10 ipo">{{ company.ipo_shares }}</div>
			<div class="column column-10 bank">{{ company.bank_shares }}</div>
		</div>
	</div>
</div>

<div *ngIf="!game">
	Loading game...
</div>
