<form (ngSubmit)="onSubmit($event)">
	<div class="row">
		<div class="tp-3">Buy/sell</div>
		<div class="tp-9">
			<label for="action-buy">
				<input type="radio" name="action" id="action-buy"
					value="buy" [(ngModel)]="action"> Buy
			</label>
			<label for="action-sell">
				<input type="radio" name="action" id="action-sell"
					value="sell" [(ngModel)]="action"> Sell
			</label>
		</div>
	</div>

	<div class="row">
		<div class="tp-3">
			<label for="shares">Shares</label>
		</div>
		<div class="tp-9">
			<input name="shares" id="shares" type="number"
				[(ngModel)]="share_amount">
		</div>
	</div>
	<div class="row">
		<div class="tp-3">
			Company
		</div>
		<div class="tp-9">
			<label *ngFor='let company of gameState.companies | values:"name"'
				for="company-{{ company.name }}" class="company-label
				fg-{{ company.text_color }} bg-{{ company.background_color }}">
				<input type="radio" name="company" value="{{ company.uuid }}"
					id="company-{{ company.name }}"
					[(ngModel)]="company_share">
				{{ company.name }}
			</label>
		</div>
	</div>

	<div class="row">
		<div class="tp-3">
			Source
		</div>
		<div class="tp-9">
			<label for="source-ipo" class="source">
				<input type="radio" name="source" id="source-ipo" value="ipo"
					[(ngModel)]="source"> IPO
			</label>
			<label for="source-bank" class="source">
				<input type="radio" name="source" id="source-bank"
					value="bank" [(ngModel)]="source"> Bank
			</label>
			<label *ngFor='let company of gameState.companies | values:"name"'
				for="source-{{ company.name }}" class="source
				fg-{{ company.text_color }} bg-{{ company.background_color }}">
				<input type="radio" name="source" value="{{ company.uuid }}"
					id="source-{{ company.name }}" [(ngModel)]="source">
						{{ company.name }}
			</label>
		</div>
	</div>

	<div class="row">
		<div class="tp-3">
			<input type="submit" name="transfer-share" value="OK">
		</div>
	</div>
</form>
