<form (ngSubmit)="onSubmit()" #gameForm="ngForm">
	<div class="row">
		<div class="tp-3">
			<label for="cash">Bank size</label>
		</div>
		<div class="tp-9">
			<input type="number" name="cash" id="cash" [(ngModel)]="model.cash">
		</div>
	</div>
	<div class="row">
		<div class="tp-3"></div>
		<div class="tp-9">
			<label for="pool-shares-pay">
				<input type="checkbox" name="pool-shares-pay"
				 id="pool-shares-pay" [(ngModel)]="model.pool_shares_pay">
				Shares in the bank pool pay dividend to the company
			</label>
		</div>
	</div>
	<div class="row">
		<div class="tp-3"></div>
		<div class="tp-9">
			<label for="ipo-shares-pay">
				<input type="checkbox" name="ipo-shares-pay"
					id="ipo-shares-pay" [(ngModel)]="model.ipo_shares_pay">
				Shares in the IPO pay dividend to the company
			</label>
		</div>
	</div>
	<div class="row">
		<div class="tp-3">
			<button type="submit" name="new_game">Start new game</button>
		</div>
	</div>
</form>
